infra/kube/secrets.yaml

*.env
**/.env.*
!**/.env.example
infra/scripts/opendata_swiss/votings.csv
vendor
*./node_modules/*
dump

# Ignore local kubeconfigs and deployer creds
gha-deployer.kubeconfig
tmp
KUBECONFIG

services/appview/.env.appView
services/appview/dist
services/indexer/dist
services/front/.next
services/eidproto/.next
services/appview/node_modules
services/indexer/node_modules
services/appview/.env.appView
services/indexer/.env
services/appview/.env.appView

# services/pds


node_modules
.DS_Store
.vscode
.idea

# OpenStack credentials
infra/openstack/

# Infomaniak API token
infomaniak-api-token.txt


*/__pycache__
__pycache__

#Ken's ignore
services/front/src/.env.local
services/appview/.env.appView.
